[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dramatiq = {extras = ["rabbitmq", "watch"],version = "*"}
fakeredis = "*"
hiredis = "*"
pytest = "*"
redis = "*"
pyessv = "*"

[requires]
python_version = "3.8.3"
